<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Sagun B. Pradhan",
    "alternateName": "Sagun Pradhan",
    "jobTitle": "Data Engineer",
    "url": "https://www.sagunpradhan.com.np/",
    "image": "https://www.sagunpradhan.com.np/assets/img/sagun1.jpg",
    "email": "mailto:pradhan_sagun@hotmail.com",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Lalitpur",
      "addressCountry": "NP"
    },
    "alumniOf": {
      "@type": "CollegeOrUniversity",
      "name": "St. Xavier's College, Kathmandu"
    },
    "knowsAbout": ["Data Engineering", "ETL", "Python", "SQL", "PostgreSQL", "MongoDB", "AsyncIO", "AWS Lambda", "Django", "Django REST Framework", "Blockchain Analytics"],
    "sameAs": [
      "https://www.linkedin.com/in/sagunnn/",
      "https://github.com/Sagunnn"
    ]
  }
  </script>
